{% extends "partials/base.html" %}

{% block pageContent %}

  <div class="container text-center mx-auto mt-[calc(10vh)]">
    <div id="counter" class="text-3xl">{{Count}}</div>
  </br>
    <button
      hx-target="#counter"
      hx-post="/decrease"
      class="bg-pink-700 hover:bg-pink-800 rounded-lg py-2.5 px-4"
    >
    -
    </button>
    <button
      hx-target="#counter"
      hx-post="/increase"
      class="bg-pink-700 hover:bg-pink-800 rounded-lg py-2.5 px-4"
    >
    +
    </button>
  </div>

{% endblock %}